* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}




/*--------------------Navigation--------------------------*/

.btn {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
    display: flex;
    width: 30px;
    height: 30px;
}

.btn span {
    width: 30px;
    height: 4px;
    background: #158059;
    display: flex;
    position: absolute;
    transition: .2s;
    z-index: 50;
}

.btn span:nth-child(1) {
    top: 20%;
    z-index: 10;
}

.btn span:nth-child(2) {
    top: 50%;
    z-index: 10;
}

.btn span:nth-child(3) {
    top: 80%;
    z-index: 10;
}

.btn.is-active span {
    background: #158059;
    ;
}

.btn.is-active span:nth-child(1) {
    top: 50%;
    transform: rotate(-45deg);
    z-index: 10;
}

.btn.is-active span:nth-child(3) {
    display: none;
    z-index: 10;
}

.btn.is-active span:nth-child(2) {
    top: 50%;
    transform: rotate(45deg);
    z-index: 10;
}

.menu {
    background: #ded9ca;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: .1s;
    visibility: hidden;

}

.menu.is-active {
    opacity: 95%;
    visibility: visible;
}

.menu__list {
    display: flex;
    flex-direction: column;
    list-style: none;

}

.menu__list2 {
    display: flex;
    flex-direction: column;
    list-style: none;

}



.menu__item:not(:last-child) {
    margin-bottom: 30px;
}

.menu__item2:not(:last-child) {
    margin-bottom: 15px;
}

.menu__link {
    position: relative;
    display: inline-flex;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    color: #158059;
    text-decoration: none;
}

.menu__link2 {
    position: relative;
    display: inline-flex;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    color: #158059;
    text-decoration: none;
    padding-left: 50px;
    padding-top: 1em;
}

.menu__link:after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 0;
    height: 5px;
    display: inline-flex;
    background: #158059;
    transition: .3s;
}

.menu__link:hover:after {
    width: 100%;
}

/*-----chatbot-----------*/
.fixed {
    position: fixed;
}

.cc-contactpop {
    background-color: #6b6c6b;
    color: #fff;
    width: 300px;
    bottom: 0;
    right: 2px;
    border-radius: 6px 6px 0px 0px;
    z-index: 10;
}

.cc-contactpop h3 {
    border-radius: 6px 6px 0px 0px;
    text-align: left;
    color: #fff;
    text-shadow: none;
    font-size: 16px;
    font-weight: 600;
    background-color: #4f504f;
    margin: 0;
    padding: 5px 0px 5px 25px;
    cursor: pointer;
}

.cc-contactpop p {
    text-align: justify;
    padding: 10px 15px;
    font-size: 13px;
}

.cc-contactpop i {
    position: absolute;
    top: 0px;
    right: 0px;
    color: #fff;
    font-weight: 500;
    font-size: 29px;
    padding: 15px;
    cursor: pointer;
    background: #6b6c6b;
}

.cc-contactpop form {
    padding: 0px 15px;
}

.cc-contactpop input {
    font-size: 0.875em;
    width: 100%;
    height: 50px;
    padding: 0px 15px 0px 15px;

    outline: none;
    color: #fff;
    border: solid 1px #4f504f;
    border-bottom: none;

    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}

.cc-contactpop input:hover {
    background: #4f504f;
}

.cc-contactpop textarea {
    font-size: 0.875em;
    width: 100%;
    max-width: 100%;
    height: 110px;
    max-height: 110px;
    padding: 15px;
    outline: none;
    color: #fff;
    border: solid 1px #4f504f;

    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}

.cc-contactpop textarea:hover {
    background: #4f504f;
}

.cc-contactpop button {
    font-size: 0.875em;
    padding: 10px;
    background: #158059;
    width: 100%;
    color: #fff;
    outline: none;
    cursor: pointer;
    border: solid 1px #105e41;
    margin-top: 10px;
}

.cc-contactpop button:hover {
    background: #4f504f;
}

/*--------------bannerbillede forside ---------------*/
.forside-banner {
    background: url(../images/forside-banner.jpg);
    background-size: 100%;
    width: 100%;
    height: 100%;
    padding-top: 40%;
    padding-bottom: 4%;
    background-repeat: no-repeat;
    z-index: 10;
    position: relative;
}


/*--------------bannerbillede om os ---------------*/
.omos-banner {
    background: url(../images/omos-banner.png);
    background-size: 100%;
    width: 100%;
    height: 100%;
    padding-top: 40%;
    padding-bottom: 4%;
    background-repeat: no-repeat;
    z-index: 10;
    position: relative;
}

/*--------------bannerbillede events ---------------*/
.events-banner {
    background: url(../images/events-banner.png);
    background-size: 100%;
    width: 100%;
    height: 100%;
    padding-top: 40%;
    padding-bottom: 4%;
    background-repeat: no-repeat;
    z-index: 10;
    position: relative;
}


/*------------------------logo ----------------------------*/

.logo img {
    width: 11%;
    padding-left: 2%;
}

.logo {
    margin-top: -38%;
}


/*------------------------ main forside ----------------------------*/
.forside-section1 {
    background-color: #158059;
    width: 100%;
}

.forside-s1-billede img {
    width: 90%;
    display: block;
    margin: 0 auto;
}

.forside-s1-billede {
    width: 100%;
    padding-top: 1em;
    padding-bottom: 2em;
}

.forside-s1-tekst {
    width: 100%;
    padding-top: 2em;
    padding-bottom: 1em;
    color: white;
}

.forside-s1-tekst h2 {
    font-weight: 500;
    width: 90%;
    display: block;
    margin: 0 auto;
}

.forside-s1-tekst p {
    font-weight: 300;
    width: 90%;
    display: block;
    margin: 0 auto;
    padding-top: 1em;
    text-align: justify;
}

/*section2*/

.forside-section2 {
    background-color: #90ad9e;
    width: 100%;
}

.forside-s2-billede img {
    width: 90%;
    display: block;
    margin: 0 auto;
}

.forside-s2-billede {
    width: 100%;
    padding-top: 1em;
    padding-bottom: 2em;
}

.forside-s2-tekst {
    width: 100%;
    padding-top: 2em;
    padding-bottom: 1em;
    color: white;
}

.forside-s2-tekst h2 {
    font-weight: 500;
    width: 90%;
    display: block;
    margin: 0 auto;
}

.forside-s2-tekst p {
    font-weight: 300;
    width: 90%;
    display: block;
    margin: 0 auto;
    padding-top: 1em;
    text-align: justify;

}

/*section3*/

.forside-section3 {
    background-color: #002437;
    width: 100%;
}

.forside-s3-content {
    width: 100%;
    padding-top: 2em;
    padding-bottom: 1em;
    color: white;
}

.forside-s3-content h2 {
    font-weight: 500;
    width: 90%;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.forside-s3-content p {
    font-weight: 300;
    width: 90%;
    display: block;
    margin: 0 auto;
    padding-top: 1em;
    text-align: justify;

}

/*section4*/

.forside-section4 {
    background-color: #158059;
    width: 100%;
}

.forside-s4-billede img {
    width: 90%;
    display: block;
    margin: 0 auto;
}

.forside-s4-billede {
    width: 100%;
    padding-top: 1em;
    padding-bottom: 2em;
}

.forside-s4-tekst {
    width: 100%;
    padding-top: 2em;
    padding-bottom: 1em;
    color: white;
}

.forside-s4-tekst h2 {
    font-weight: 500;
    width: 90%;
    display: block;
    margin: 0 auto;
}

.forside-s4-tekst p {
    font-weight: 300;
    width: 90%;
    display: block;
    margin: 0 auto;
    padding-top: 1em;
    text-align: justify;

}



/*---knapper----*/

.læs-mere-knap {
    display: flex;
    justify-content: center;
    padding-top: 2em;
}

.læs-mere-knap-a {
    background-color: #441d2c;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}





/*------------------------ om os main ----------------------------*/
.omos-section1 {
    background-color: #90ad9e;
    width: 100%;
}

.omos-s1-billede img {
    width: 90%;
    display: block;
    margin: 0 auto;
}

.omos-s1-billede {
    width: 100%;
    padding-top: 1em;
    padding-bottom: 2em;
}

.omos-s1-tekst {
    width: 100%;
    padding-top: 2em;
    padding-bottom: 1em;
    color: #fff;
}

.omos-s1-tekst h2 {
    font-weight: 500;
    width: 90%;
    display: block;
    margin: 0 auto;
}

.omos-s1-tekst p {
    font-weight: 300;
    width: 90%;
    display: block;
    margin: 0 auto;
    padding-top: 1em;
    text-align: justify;
}

.omos-s1-tekst a {
    color: #fff;
    font-weight: 500;
}

/*section2*/

.omos-section2 {
    background-color: #002437;
    width: 100%;
}

.omos-s2-billede img {
    width: 90%;
    display: block;
    margin: 0 auto;
}

.omos-s2-billede {
    width: 100%;
    padding-top: 1em;
    padding-bottom: 2em;
}

.omos-s2-tekst {
    width: 100%;
    padding-top: 2em;
    padding-bottom: 1em;
    color: white;
}

.omos-s2-tekst h2 {
    font-weight: 500;
    width: 90%;
    display: block;
    margin: 0 auto;
}

.omos-s2-tekst p {
    font-weight: 300;
    width: 90%;
    display: block;
    margin: 0 auto;
    padding-top: 1em;
    text-align: justify;

}

/*section3 er blevet til section8*/


/*section4*/

.omos-section4 {
    background-color: #ded9ca;
    width: 100%;
}

.omos-s4-billede img {
    width: 90%;
    display: block;
    margin: 0 auto;
}

.omos-s4-billede {
    width: 100%;
    padding-top: 1em;
    padding-bottom: 2em;
}

.omos-s4-tekst {
    width: 100%;
    padding-top: 2em;
    padding-bottom: 1em;
    color: #158059;
}

.omos-s4-tekst h2 {
    font-weight: 500;
    width: 90%;
    display: block;
    margin: 0 auto;
}

.omos-s4-tekst p {
    font-weight: 300;
    width: 90%;
    display: block;
    margin: 0 auto;
    padding-top: 1em;
    text-align: justify;

}


/*section5*/

.omos-section5 {
    background-color: #90ad9e;
    width: 100%;
}

.omos-s5-billede img {
    width: 90%;
    display: block;
    margin: 0 auto;
}

.omos-s5-billede {
    width: 100%;
    padding-top: 1em;
    padding-bottom: 2em;
}

.omos-s5-tekst {
    width: 100%;
    padding-top: 2em;
    padding-bottom: 1em;
    color: white;
}

.omos-s5-tekst h2 {
    font-weight: 500;
    width: 90%;
    display: block;
    margin: 0 auto;
}

.omos-s5-tekst p {
    font-weight: 300;
    width: 90%;
    display: block;
    margin: 0 auto;
    padding-top: 1em;
    text-align: justify;

}

/*section6*/

.omos-section6 {
    background-color: #ded9ca;
    width: 100%;
}

.omos-s6-billede img {
    width: 90%;
    display: block;
    margin: 0 auto;
}

.omos-s6-billede {
    width: 100%;
    padding-top: 1em;
    padding-bottom: 2em;
}

.omos-s6-tekst {
    width: 100%;
    padding-top: 2em;
    padding-bottom: 1em;
    color: #158059;
}

.omos-s6-tekst h2 {
    font-weight: 500;
    width: 90%;
    display: block;
    margin: 0 auto;
}

.omos-s6-tekst p {
    font-weight: 300;
    width: 90%;
    display: block;
    margin: 0 auto;
    padding-top: 1em;
    text-align: justify;

}


/*section7*/

.omos-section7 {
    background-color: #90ad9e;
    width: 100%;
}

.omos-s7-billede img {
    width: 90%;
    display: block;
    margin: 0 auto;
}

.omos-s7-billede {
    width: 100%;
    padding-top: 1em;
    padding-bottom: 2em;
}

.omos-s7-tekst {
    width: 100%;
    padding-top: 2em;
    padding-bottom: 1em;
    color: white;
}

.omos-s7-tekst h2 {
    font-weight: 500;
    width: 90%;
    display: block;
    margin: 0 auto;
}

.omos-s7-tekst p {
    font-weight: 300;
    width: 90%;
    display: block;
    margin: 0 auto;
    padding-top: 1em;
    text-align: justify;

}

/*section8*/

.omos-section8 {
    background-color: #158059;
    width: 100%;
}

.omos-s8-content {
    width: 100%;
    padding-top: 2em;
    padding-bottom: 1em;
    color: white;
}

.omos-s8-content h2 {
    font-weight: 500;
    width: 90%;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.omos-s8-content p {
    font-weight: 300;
    width: 90%;
    display: block;
    margin: 0 auto;
    padding-top: 1em;
    text-align: justify;

}




/*------------------------ Næste events (events) main ----------------------------*/
.events-section1 {
    background-color: #90ad9e;
    width: 100%;
}

.events-s1-billede img {
    width: 90%;
    display: block;
    margin: 0 auto;
}

.events-s1-billede {
    width: 100%;
    padding-top: 1em;
    padding-bottom: 2em;
}

.events-s1-tekst {
    width: 100%;
    padding-top: 2em;
    padding-bottom: 1em;
    color: #fff;
}

.events-s1-tekst h2 {
    font-weight: 500;
    width: 90%;
    display: block;
    margin: 0 auto;
}

.events-s1-tekst p {
    font-weight: 300;
    width: 90%;
    display: block;
    margin: 0 auto;
    padding-top: 1em;
    text-align: justify;
}

.events-s1-tekst a {
    color: #fff;
    font-weight: 500;
}

/*section2*/

.events-section2 {
    background-color: #002437;
    width: 100%;
}

.events-s2-billede img {
    width: 90%;
    display: block;
    margin: 0 auto;
}

.events-s2-billede {
    width: 100%;
    padding-top: 1em;
    padding-bottom: 2em;
}

.events-s2-tekst {
    width: 100%;
    padding-top: 2em;
    padding-bottom: 1em;
    color: white;
}

.events-s2-tekst h2 {
    font-weight: 500;
    width: 90%;
    display: block;
    margin: 0 auto;
}

.events-s2-tekst p {
    font-weight: 300;
    width: 90%;
    display: block;
    margin: 0 auto;
    padding-top: 1em;
    text-align: justify;

}

/*section3 er blevet til section8*/


/*section4*/

.events-section4 {
    background-color: #ded9ca;
    width: 100%;
}

.events-s4-billede img {
    width: 90%;
    display: block;
    margin: 0 auto;
}

.events-s4-billede {
    width: 100%;
    padding-top: 1em;
    padding-bottom: 2em;
}

.events-s4-tekst {
    width: 100%;
    padding-top: 2em;
    padding-bottom: 1em;
    color: #158059;
}

.events-s4-tekst h2 {
    font-weight: 500;
    width: 90%;
    display: block;
    margin: 0 auto;
}

.events-s4-tekst p {
    font-weight: 300;
    width: 90%;
    display: block;
    margin: 0 auto;
    padding-top: 1em;
    text-align: justify;

}


/*section5*/

.events-section5 {
    background-color: #90ad9e;
    width: 100%;
}

.events-s5-billede img {
    width: 90%;
    display: block;
    margin: 0 auto;
}

.events-s5-billede {
    width: 100%;
    padding-top: 1em;
    padding-bottom: 2em;
}

.events-s5-tekst {
    width: 100%;
    padding-top: 2em;
    padding-bottom: 1em;
    color: white;
}

.events-s5-tekst h2 {
    font-weight: 500;
    width: 90%;
    display: block;
    margin: 0 auto;
}

.events-s5-tekst p {
    font-weight: 300;
    width: 90%;
    display: block;
    margin: 0 auto;
    padding-top: 1em;
    text-align: justify;

}

/*section6*/

.events-section6 {
    background-color: #002437;
    width: 100%;
}

.events-s6-billede img {
    width: 90%;
    display: block;
    margin: 0 auto;
}

.events-s6-billede {
    width: 100%;
    padding-top: 1em;
    padding-bottom: 2em;
}

.events-s6-tekst {
    width: 100%;
    padding-top: 2em;
    padding-bottom: 1em;
    color: #fff;
}

.events-s6-tekst h2 {
    font-weight: 500;
    width: 90%;
    display: block;
    margin: 0 auto;
}

.events-s6-tekst p {
    font-weight: 300;
    width: 90%;
    display: block;
    margin: 0 auto;
    padding-top: 1em;
    text-align: justify;

}

/* ---- program for event section6 ---- */

.events-s6-tekst p {
    display: none;
}

.program_event {
    box-sizing: border-box;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}


.program_event::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #158059;
    top: 0;
    bottom: 1%;
    left: 50%;
    margin-left: -3px;
}


.container_program {
    padding: 20px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}


.container_program::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: #fff;
    border: 4px solid #158059;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}


.right {
    left: 50%;
}

.right::after {
    left: -16px;
}


.content_program {
    padding: 20px 30px;
    background-color: #90ad9e;
    position: relative;
    border-radius: 6px;
    color: #fff;
    font-size: 0.9em;
}


@media screen and (max-width: 600px) {

    .events-s6-tekst p {
        display: block;
    }

    .program_event {
        display: none;
    }

    .program_event::after {
        left: 31px;
    }

    .container_program {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    .right::after {
        left: 15px;
    }

    .right {
        left: 0%;
    }
}



/*section7*/

.events-section7 {
    background-color: #ded9ca;
    width: 100%;
}

.events-s7-billede img {
    width: 90%;
    display: block;
    margin: 0 auto;
}

.events-s7-billede {
    width: 100%;
    padding-top: 1em;
    padding-bottom: 2em;
}

.events-s7-tekst {
    width: 100%;
    padding-top: 2em;
    padding-bottom: 1em;
    color: #158059;
}

.events-s7-tekst h2 {
    font-weight: 500;
    width: 90%;
    display: block;
    margin: 0 auto;
}

.events-s7-tekst p {
    font-weight: 300;
    width: 90%;
    display: block;
    margin: 0 auto;
    padding-top: 1em;
    text-align: justify;

}





/*-----------------------testimonail slider start -----------------*/
.testimonial_body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ded9ca;

}

.testimonial_container {
    position: relative;
    width: 800px;
    min-width: 320px;
    min-height: 250px;
    padding-bottom: 40px;
    overflow: hidden;

}

.testimonial_wrapper {
    width: 400%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    transition: 1s;

}

.testimonial_card {
    width: 100%;
    min-height: 100%;
    background: #ded9ca;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0 33px;

}

.testimonial_image {
    width: 100%;
    height: 100%;
    position: relative;

}

.personimg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.person_navn {
    position: absolute;
    bottom: 5px;
    right: 10px;
    padding: 5px 20px;
    background: #158059;
    text-transform: capitalize;
    font-size: 14px;
    color: #fff;
}


.testimonial_text_container {
    width: 100%;
    min-height: 100%;
    height: auto;
    margin-left: 20px;
    position: relative;
    padding-top: 40px;

}


.testimonial_text {
    font-size: 20px;
    line-height: 30px;
    margin-top: 30px;
    color: #90ad9e;


}


.testimonial_indicators {
    position: absolute;
    bottom: 0;
    left: 60%;
    transform: translateX(-100%);
}

.testimonial_indicators button {
    background: none;
    outline: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid #158059;
    cursor: pointer;
    margin-left: 20px;
    transition: 0.5s;
    justify-content: center;


}



@media (max-width: 800px) {

    .testimonial_body {
        width: 100%;
        height: auto;
        padding-top: 10%;
        padding-bottom: 10%;

    }


    .testimonial_container {
        width: 100%;
        justify-content: center;

    }

    .testimonial_card {
        flex-direction: column;


    }

    .testimonial_image {
        width: 100%;

    }



    .testimonial_text_container {
        width: 100%;
        min-height: auto;
        height: auto;
        margin-left: 20px;
        margin-bottom: 20px;
        padding-top: 30px;

    }


    .testimonial_text {
        font-size: 14px;
        line-height: 30px;
        margin-top: 0px;
        width: 100%;


    }

    .testimonial_indicators {
        width: 100%;
        margin-left: 57%;
    }

    .testimonial_indicators button {

        width: 15px;
        height: 15px;
        border-radius: 50%;
        transition: 0.5s;
        margin-left: 0;
        margin-right: 40px;
    }
}

/*-----------------------testimonail slider slut -----------------*/

/*---------------------------------Footer------------------------*/

footer {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    position: absolute;
    flex-flow: row wrap;
    padding: 20px;
    color: white;
    background-color: #002437;
    justify-content: space-between;
    max-height: 950px;
}

.footer {
    flex: 1 100%;
}

.footer-left {
    margin-right: 1.25em;
}

.footer-left img {
    width: 5em;
    padding-bottom: 2em;
}

.footer h2 {
    font-weight: 500;
    font-size: 18px;
    padding-top: 2%;
}

.footer ul {
    list-style: none;
    font-weight: 300;
    padding-left: 0;
}

.footer li {
    line-height: 2em;
    list-style: none;
}

.footer a {
    text-decoration: none;

}

.footer-right {
    display: flex;
    flex-flow: row wrap;
}

.box a {
    color: white;
    font-size: 15px;
    ;
}

.box {
    width: 100%;
    margin: 1em 1em 1em 0;
}

.footer-bottom {
    text-align: center;
    color: white;
    font-size: 12px;
}

.socials a img {
    width: 2.5em;
    display: inline-block;
    padding-top: 2%
}

.footer-trust {
    width: 100%;
    padding-top: 5%;

}

.footer-container {
    display: flex;
    flex-direction: column;
    /*fjernes ved desktop*/
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 5%;
}